:root{
    /* colors */
        --Coral-Reef: #FE7E6B;
        --Jacarta: #3A3D5C;
        --Dark-Gunmetal: #24242C;
    /* fonts */
        --overall-fontsize: 62.5%;
    }
    
    html,
    body{
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    html{
        font-size: var(--overall-fontsize);
    }
    
    body{
        font-size: 1.4rem;
        font-family: "Inter", sans-serif;
    }
    
    .main-container{
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    /* Header */
    .header{
        background-color: var(--Coral-Reef);
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 8rem;
        height: 8rem;
    }

    .navbar-left{
    }

    .logo-site{
        text-decoration: none;
        color: white;
        font-size: 2.4rem;
        font-weight: bold;
    }
    
    .navbar__center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .icon-hamburguer{
        color: white;
        font-size: 2.5rem;
    }

    .navbar__rigth{
        display: none;
        flex-basis: 16rem
    }
    
    .menu-main {
        display: none;
    }
    
    .menu-authentication{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .menu-authentication .item-3{
        display: none;
    }

    .btn{
        border: 1px solid yellow;
        padding: .6rem 1.2rem;
        border-radius: 1.5rem;
        box-sizing: border-box;
        text-decoration: none;
    }

    .btn-primary{
        background: white;
        border: 1px solid white;
        color: var(--Coral-Reef);
        box-sizing: border-box;
    }

    .btn-outline-primary{
        border: 1px solid white;
        color: white;
        box-sizing: border-box;
    }

    .btn-secondary{
        border: 1px solid transparent;
        color: white;
    }

    /* Main */
    .main{
        flex-grow: 1;
        max-height: 100vh;
        height: 100vh;
    }
    
    /* Footer */
    .footer{
        background-color: var(--Dark-Gunmetal);
    }
    
    /* Container */
    .container{
        /* border: 2px dotted blue; */
        max-width: 96vw;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 .8rem;
    }
    .container-fluid{
        /* border: 2px dotted orange; */
        max-width: 100vw;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0;
    }


    /* Media Queries */
    
    
    @media (min-width: 567px){
        .container{
            max-width: 56rem;
            padding: 0 1.6rem;
        }
    }
    @media (min-width: 768px){
        .container{
            max-width: 72.0rem;
            padding: 0 2.4rem;
        }
        .navbar_left{
            flex-basis: 16rem;
        }
        .navbar__center{
            flex-grow: 1;
        }
        .navbar__rigth{
            display: block;
            flex-basis: 16rem;
        }
        .menu-main{
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
        }
        .icon-hamburguer{
            display: none;
        }
    }
    @media (mid-width: 992px){
        .container{
            max-width: 98rem;
            padding: 0 3.2rem;
        }
    }
    @media (mid-width: 1200px){
        .container{
            max-width: 114rem;
            padding: 0 4rem;
        }
    }
    